*.jou
*.log
*.str
.Xil
.bender/
.slang/
sim/sim_build/
sim/__pycache__/
sim/mem/
sim/*.vcd
sim/*.fst
5G _ ShareTechnote*
venv/
notebooks/*.txt
notebooks/*.mem
**/vivado/
rtl/deprecated/
sim/pyuvm_tb/__pycache__/agent_env.cpython-311.pyc
sim/pyuvm_tb/__pycache__/monitors.cpython-311.pyc
sim/pyuvm_tb/__pycache__/scoreboards.cpython-311.pyc
