*.jou
*.log
*.str
.Xil
.bender/
.slang/
sim/sim_build/
sim/__pycache__/
sim/mem/
sim/*.vcd
sim/*.fst
5G _ ShareTechnote*
venv/
notebooks/*.txt
notebooks/*.mem
**/vivado/
rtl/deprecated/