(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("dump.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "input_buffer",
            ],
            id: Wellen((9)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (183),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (184),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (181),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (185),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (182),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (107),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (27),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (24),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (26),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (42),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (32),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (114),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (111),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (112),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (179),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (180),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (113),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (40),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (108),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (110),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (39),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "lifting_size_i",
                    id: Wellen((98)),
                ),
                color: None,
                background_color: None,
                display_name: "lifting_size_i [8:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (108): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "ramr_addr_n",
                    id: Wellen((113)),
                ),
                color: None,
                background_color: None,
                display_name: "ramr_addr_n [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (32): Group((
                name: "WRITE",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (107): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "ram_full_q",
                    id: Wellen((104)),
                ),
                color: None,
                background_color: None,
                display_name: "ram_full_q [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (185): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "w_idle_qdly",
                    id: Wellen((142)),
                ),
                color: None,
                background_color: None,
                display_name: "w_idle_qdly",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (23): Group((
                name: "CONFIG",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (114): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "ramw_swap_q",
                    id: Wellen((107)),
                ),
                color: None,
                background_color: None,
                display_name: "ramw_swap_q",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "ldpc_done_i",
                    id: Wellen((97)),
                ),
                color: None,
                background_color: None,
                display_name: "ldpc_done_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (179): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "bank_full",
                    id: Wellen((144)),
                ),
                color: None,
                background_color: None,
                display_name: "bank_full",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "clk_i",
                    id: Wellen((90)),
                ),
                color: None,
                background_color: None,
                display_name: "clk_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "arst_ni",
                    id: Wellen((91)),
                ),
                color: None,
                background_color: None,
                display_name: "arst_ni",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (180): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (40): Group((
                name: "READ",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (181): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "w_idle_q",
                    id: Wellen((141)),
                ),
                color: None,
                background_color: None,
                display_name: "w_idle_q",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (27): Group((
                name: "LDPC",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (18): Group((
                name: "RAM",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (183): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                            "ram_zc_q",
                        ],
                        id: Wellen((10)),
                    ),
                    name: "[0]",
                    id: Wellen((105)),
                ),
                color: None,
                background_color: None,
                display_name: "[0] [8:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "ldpc_ready_i",
                    id: Wellen((96)),
                ),
                color: None,
                background_color: None,
                display_name: "ldpc_ready_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (184): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                            "ram_zc_q",
                        ],
                        id: Wellen((10)),
                    ),
                    name: "[1]",
                    id: Wellen((106)),
                ),
                color: None,
                background_color: None,
                display_name: "[1] [8:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "s_axis_tdata",
                    id: Wellen((92)),
                ),
                color: None,
                background_color: None,
                display_name: "s_axis_tdata [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (113): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "ramw_data",
                    id: Wellen((110)),
                ),
                color: None,
                background_color: None,
                display_name: "ramw_data [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (111): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "ramw_addr_q",
                    id: Wellen((108)),
                ),
                color: None,
                background_color: None,
                display_name: "ramw_addr_q [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (39): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "out_sel",
                    id: Wellen((145)),
                ),
                color: None,
                background_color: None,
                display_name: "out_sel [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "input_bits_i",
                    id: Wellen((99)),
                ),
                color: None,
                background_color: None,
                display_name: "input_bits_i [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "info_group_i",
                    id: Wellen((100)),
                ),
                color: None,
                background_color: None,
                display_name: "info_group_i [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (8): Group((
                name: "AXIS",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (110): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "ramr_swap_q",
                    id: Wellen((111)),
                ),
                color: None,
                background_color: None,
                display_name: "ramr_swap_q",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "s_axis_tready",
                    id: Wellen((94)),
                ),
                color: None,
                background_color: None,
                display_name: "s_axis_tready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "ldpc_valid_o",
                    id: Wellen((95)),
                ),
                color: None,
                background_color: None,
                display_name: "ldpc_valid_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "s_axis_tvalid",
                    id: Wellen((93)),
                ),
                color: None,
                background_color: None,
                display_name: "s_axis_tvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (182): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "w_cnt_q",
                    id: Wellen((140)),
                ),
                color: None,
                background_color: None,
                display_name: "w_cnt_q [8:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "axis_handshake",
                    id: Wellen((143)),
                ),
                color: None,
                background_color: None,
                display_name: "axis_handshake",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (112): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "ramw_bank_q",
                    id: Wellen((109)),
                ),
                color: None,
                background_color: None,
                display_name: "ramw_bank_q [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (42): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "input_buffer",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "data_batch_o",
                    id: Wellen((101)),
                ),
                color: None,
                background_color: None,
                display_name: "data_batch_o [383:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
        },
        display_item_ref_counter: 185,
        viewports: [
            (
                curr_left: (0.00713624992613543),
                curr_right: (0.036147635109564015),
                target_left: (0.006004805861615989),
                target_right: (0.035016191045044574),
                move_start_left: (0.006004805861615989),
                move_start_right: (0.035016191045044574),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            194034,
        ])),
        markers: {},
        focused_item: Some((24)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (24),
        level: 1,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(180.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)